/* For WebKit-based browsers (Chrome, Safari) */
.element-with-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgb(214, 37, 37) lightgray; /* For Firefox */
  }
  
  /* For WebKit-based browsers, adjust the width of the scrollbar thumb */
  .element-with-scrollbar::-webkit-scrollbar-thumb {
    width: 1px; /* Adjust the width of the scrollbar thumb in pixels */
    background: #888; /* Style the thumb (draggable part) */
  }
  

  .tbl-cs{
    position: relative;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
   
}
.control-main{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.control-form{
    width: 40%;
    margin-left: 2%;
}
.btn-flex{
    display: flex;
}
.btn-flex button{
    margin-left: 10px;
}
.body-control{
    background-color: #e4e9f7;
    overflow: hidden;
}
.cont-btn{
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #1a1313;
    background: none;
    position: relative;
    padding-bottom: 2em;
  }
  
  .cont-btn > div,.cont-btn > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .cont-btn:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 15px;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
  }
  
  .cont-btn:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .cont-btn .clone > *,.cont-btn .text > * {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
  }
  
  .cont-btn .clone > * {
    transform: translateY(60px);
  }
  
  .cont-btn:hover .clone > * {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .cont-btn:hover .text > * {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .cont-btn:hover .clone > :nth-child(1) {
    transition-delay: 0.15s;
  }
  
  .cont-btn:hover .clone > :nth-child(2) {
    transition-delay: 0.2s;
  }
  
  .cont-btn:hover .clone > :nth-child(3) {
    transition-delay: 0.25s;
  }
  
  .cont-btn:hover .clone > :nth-child(4) {
    transition-delay: 0.3s;
  }
  /* icon style and hover */
  .cont-btn svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
  }
  
  .cont-btn:hover svg {
    transform: translateY(-50%) rotate(-90deg);
  }
.dp-cs{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.219) ;
  
}
.btn-action{
  border: none;
  border-radius: 8px;
  padding: 5px;
}
@media (min-width: 768px){
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    border-radius: 10px;
}
}