.text h3{
    margin-top: 5%;
}
.loc-main{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}
.loc-map{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.main-loc-bx{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 1%;
   
}
.loc-box{
    background-color:  rgb(223, 219, 211);
    width: 100%;
    height: 200px;
    margin-left: 5%; 
}
.loc-box-head{
    margin-left: 1%;
    margin-top: 2%;
    width: 500px;
    height: 500px;
}
.loc-flex{
    display: flex;
    overflow: hidden;
}
.stats-loc{
    display: flex;
    text-align: center;
}
.stats-loc h4 span{
    font-size: 1rem;
}
/* users css */
.user-tbl{
    width: 100%;
    height: 100%;
    background-color: rgba(182, 182, 207, 0.349);
    display: flex;
    justify-items: start;
    flex-wrap: wrap;
    overflow-y: auto;
    position: relative;
    top: 6%;
}
.card{
    margin: 1%;
    height: 40%;
}
.user-tbl-list{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin: 1%;
    width: 15vw;
    height: 43vh;
    background-color: var(--pallet1);
}
.user-tbl-img img{
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.user-tbl-img{
    border-radius: 8px;
    margin: 2%;
    width: auto;
    height: 200px;
    border-radius: 90px;
    background-image: url(/image/user_.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.position-user{
    position: relative;
    z-index: 999;
}
.user-tbl-list h6{
    text-align: center;
}
.user-tbl-list .dropdown{
    margin: 0 auto;
}