.img-bg{
    
    position: relative;
    width: 100%;
    height: 100vh;
  
}

.logo-own{
    text-align: center;
    margin-left: 600px;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    position: absolute;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}
.navbar-toggler{
    height: 40px;
    width: 60px;
}
.navbar-toggler-icon{
    width: 1em;
    height: 1.5em;
}
.navbar-toggler:active{
    border-color: blanchedalmond;
}
.src-own{
    right: 0%;
    position: absolute
}
.form-own{
    height: 32px;
    transition: box-shadow 1s;
    border: none;

}
.form-own:focus{
  
    border-color: #e7f1ff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(197 206 219 / 25%);
    
}
.nav-own{
    height: 32px;
    border: none;
}
.akon {
    display: flex;
    align-items: center;
    
}
.navbar-toggler:focus{
    box-shadow: none;
}

/* content1 here */
.content1{
    width: 350px;
    height: 200px;
    /* background-color: rgba(226, 226, 236, 0.301); */
    top: 44%;
    left: 15%;
    position: absolute;
    z-index: 2;
}
.content0{
    background-image: url('image/stickerbg.jpg');
    position: absolute;
    top: 35%;
    width: 200px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}
.content2{
    background-image: url('image/fire.jpg');
    width: 58%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 15%;
    left: 40%;
    border-radius: 10px;
    margin-right: 0;
    transition: margin-right 1s;
    z-index: 1;

}
.cnt1-btn1{
    border: none;
    border-radius: 2px;
    padding:8px;
    background-color: #cc7c37;
    transition: 0.2s background-color;
}
.cnt1-btn2{
    border: solid #cc7c37 2px;
    border-radius: 8px;
    padding:6px;

}
.cnt1-btn2:active{
    background-color: rgb(24, 197, 47);
}
.cnt1-btn1:active{
    background-color: rgb(24, 197, 47);
}
.reg-form-container{
    background-color: #cc7c37;
    width: 37%;
    height: 80%;
    position: absolute;
    top: 15%;
    z-index: 3;
    border-radius: 10px;
    display: none;
    padding: 30px;
    
}
.reg-input1::placeholder{
    color: wheat;
    font-family: 'PT Serif', serif;
}
.reg-input1:focus {
    color: var(--bs-body-color);
    background-color: #004225;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 2px #7185a375;
    transition: box-shadow 0.5s;
    color: wheat;
}
.reg-form-cos{
   width: 400px;
   margin: auto;
}
.fa-own2{
    margin-top:15px;
   margin-right: 17px;
   font-size: 25px;
}
.fa-own1{
    margin-top:15px;
   font-size: 25px;
    margin-right: 3px;
}
.fa-own{
   margin-top:15px;
   margin-right: 10px;
   font-size: 25px;
}
.reg-input1{
    margin-top: 10px;
    background-color: #cc7c37;
    transition: background-color 1s;
}
.reg-btn,.reg-btn2{
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px black;
}
.reg-btn2:hover{
    border-color: rgb(216, 142, 119);
    color: white;
    background-color: rgb(29, 6, 6);
    transition: 1s;
}
.reg-btn:active{
    border: solid 2px rgb(206, 206, 185);

}
.lbl{
    position: absolute;
    top: 40%;
}

@media (min-width: 300px) and (max-width: 1024px){
    .logo-own{
        margin-left: 90px;
    }
    .reg-form-container{
        background-color: #cc7c37;
        width: 90%;
        height: 80%;
        position: absolute;
        top: 15%;
        z-index: 3;
        border-radius: 10px;
        /* display: none; */
        padding: 30px;
        margin-left: 20px;
    }
    .reg-form-cos{
        width: 300px;
    }
    .content2{
        display: none;
    }
    .content1{
       width: 200px;
        height: 200px;
        /* background-color: rgba(226, 226, 236, 0.301); */
        top: 44%;
        left: 50%;
        position: absolute;
        z-index: 2; 
    }

}