.reg-form-container{
    background-color: #cc7c37;
    width: 37%;
    height: 80%;
    position: absolute;
    top: 15%;
    z-index: 3;
    border-radius: 10px;
    display: none;
    padding: 30px;
    
}
.con-reg-cs{
    background-color: #73777B;
    border-radius: 2rem;
    position: absolute;
    top: -100%;
    width: 35rem;
    height: 30rem;
}
.con-logn-cs{
    background-color: #73777B;
    border-radius: 2rem;
    position: absolute;
    top: -100%;
    width: 35rem;
    height: 30rem;
    display: none;
}
.reg-input1::placeholder{
    color: rgb(15, 12, 6);
    font-family: 'PT Serif', serif;
}
.reg-input1:focus {
    color: var(--bs-body-color);
    background-color: #b9d4c9;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 2px #7185a375;
    transition: box-shadow 0.5s;
    color: rgb(37, 34, 28);
}
.reg-form-cos{
   width: 400px;
   margin: auto;
   padding: auto;
   padding-top: 30px;
}
.fa-own2{
    margin-top:15px;
   margin-right: 17px;
   font-size: 25px;
}
.fa-own1{
    margin-top:15px;
   font-size: 25px;
    margin-right: 3px;
}
.fa-own{
   margin-top:15px;
   margin-right: 10px;
   font-size: 25px;
}
.reg-input1{
    margin-top: 10px;
    background-color: #b9d4c9;
    transition: background-color 1s;
}
.reg-btn,.reg-btn2{
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px black;
}
.reg-btn2:hover{
    border-color: rgb(216, 142, 119);
    color: white;
    background-color: rgb(29, 6, 6);
    transition: 1s;
}
.reg-btn:active{
    border: solid 2px rgb(206, 206, 185);

}
.lbl{
    position: absolute;
    top: 40%;
}
.reg-head{
    margin-top: 13px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.span-reg{
    color: #311e0c;
    font-size: 2rem;
}
hr{
    margin-top: 3px;
}
.nxt-btn{
    position: absolute;
    bottom: 8%;
    left: 71%;
    background-color: #b9d4c9;
    border: none;
    height: 31px;
    width: 80px;
    border-radius: 5px;
    font-family: 'Gabarito', cursive;
    border-radius: 50px;
}  

.nxt-btn:hover{
    transition: 0.5s;
    border-radius: 5px;
    background-color: #EC994B;
}
.nxt-btn:active{
    background-color: aliceblue;
}
.prv-btn{
    position: absolute;
    bottom: 8%;
    left: 55%;
    background-color: #b9d4c9;
    border: none;
    height: 31px;
    width: 80px;
    border-radius: 5px;
    font-family: 'Gabarito', cursive;
    border-radius: 50px;

}
.input-wrn-cs{
    margin-left: 40px;
    font-size: 0.7rem;
    height: 10px;
}
.prv-btn:hover{
    transition: 0.5s;
    border-radius: 5px;
    background-color: #EC994B;
}
.flex-cos{
    margin-bottom: 10px;
}
@media (min-width: 300px) and (max-width: 1024px){
    .body{
        overflow: hidden;
    }
    .con-reg-cs{
        background-color: #73777B;
        border-radius: 2rem;
        position: absolute;
        top: -100%;
        width: 30rem;
        height: 30rem;
    }
}


