*{
    margin: 0;
    padding: 0;
}
/* Style the scrollbar track (background) */
::-webkit-scrollbar {
    width: 5px; /* You can adjust the width as needed */
  }
  
  /* Style the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
  }
  
  /* Style the scrollbar track on hover */
  ::-webkit-scrollbar-track:hover {
    background: #ccc;
  }
body{
    overflow-x:hidden;
    scrollbar-width: thin; /* "auto" is the default and varies by browser */
    scrollbar-color: #888 #ccc;
}
.container-all-cs{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.name-lg-cs{
    display: none;
    padding: 1rem 4rem;
    background-color: #CD5C08;
    text-align: center;
    color: #004225;
    border-radius: 10px;
    font-size: 2rem;
    font-family: 'Black Ops One', cursive;;
    transition: 0.3s;
    border: none;
    position: absolute;
}
.text-cs{
    display: none;
    position: absolute;
    bottom: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.img-lg-cs{
    display: none;
    background-image: url(/image/fire.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5rem;
    position: absolute;
    bottom: -50%;
    width: 30rem;
    height: 25rem;
}
.name-lg-cs:hover{
    color: aquamarine;
    cursor: pointer;
}
.name-lg-cs:active{
    border: 2px solid black ; 
}
.clip-btn-cs{
    position: absolute;
    top: 43%;
    right: 15%;
    width: 150px;
    height: 150px;
    /* clip-path: circle(50% at 50% 50%); */
    
}
.lgn-btn-cs:hover{
    background-color: #b9d4c9;
}
.lgn-btn-cs{
    display: none;
    position: absolute;
    top: 35%;
    /*right: 12%;*/
    width: 200px; /* Adjust the width and height to control the size of the circle */
    height: 200px;
    border-radius: 50%;
    font-size: 1.5rem;
    border: none;
    text-align: left;
    padding: 20px;
    background-color:#73777B;
    transition: 0.5s;
    font-family: 'Gabarito', cursive;   
}
.lgn-btn-cs:active{
    background-color: #EC994B;
}
.lgn-btn1-cs{
    display: none;
    position: absolute;
    top: 35%;
    left: -7%;
    width: 200px; /* Adjust the width and height to control the size of the circle */
    height: 200px;
    border-radius: 50%;
    font-size: 1.5rem;
    border: none;
    text-align: right;
    padding: 20px;
    background-color:#73777B;
    transition: 0.5s;
    font-family: 'Gabarito', cursive;  
}
.lgn-btn-cs:hover{

    background-color: #b9d4c9;
}
.lgn-btn1-cs:hover{
    background-color: #b9d4c9;
}
.cliprem{
    display: none;
}
.clip1-cs{
    z-index: 1;
    position: absolute;
    top: 0;
    /* right: -10%; */
    width: 500px;
    height: 100vh;
    background-color: #73777B;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.clip2-cs{
    z-index: 2;
    position: absolute;
    top: 0;
    right: -15%;
    width: 500px;
    height: 100vh;
    background-color: #EC994B;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.clip3-cs{
    z-index: 3;
    position: absolute;
    top: 0;
    right: -20%;
    width: 500px;
    height: 100vh;
    background-color: #b9d4c9;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    background-image: url(/image/floating-cogs.svg);
}
.clipadd{
    display: block;
}
.clipremov{
    display: none;
}
/* left clips */
.clip21-cs{
    z-index: 1;
    position: absolute;
    top: 0;
    left: -10%;
    width: 500px;
    height: 100vh;
    background-color: #73777B;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.clip22-cs{
    z-index: 2;
    position: absolute;
    top: 0;
    left: -15%;
    width: 500px;
    height: 100vh;
    background-color: #EC994B;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.clip23-cs{
    z-index: 3;
    position: absolute;
    top: 0;
    left: -20%;
    width: 500px;
    height: 100vh;
    background-color: #b9d4c9;
    background-image: url(/image/floating-cogs.svg);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.crts-cs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 999
}
.status-cs{
    margin-top: 20px;
}
.alert-cs{
    text-align: left;
    padding: 10px;
    height: 66px;
    margin-top: 20px
}
.about-cs{
    position: absolute;
    background-color: #b9d4c9;
    background-image:linear-gradient(rgba(202, 154, 154, 0.7), hsla(19, 79%, 48%, 0.7)), url(/image/floating-cogs.svg);
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
}
.about-img-cs{
    position: relative;
    width: 500px;
    height: 500px;
    top: 10%;
    left: 15%;
    z-index: 2;
}
.about-txt-cs{
    top: 10%;
    left: 5%;
    background-color: #356b544f;
    width: 500px;
    height: 400px;
    position: relative;
    z-index: 3;
    padding: 20px;
}
.about-txt-cs h2{
    text-align: left;
    color: #95e1ff;
    font-family: 'Gabarito', cursive;
}
.about-txt-cs p{
    font-size: 1.2rem;
    text-align: left;
    font-weight: normal;
    color: #0d1316;
    font-family: 'Merriweather', serif;
}
.about-cnt-bg{
    position: relative;
    width: 600px;
    left: 5%;
    height: 500px;
    top: 15%;
    background-color: #b9d4c9;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
@media (min-width: 300px) and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
    .about-cs{
        display: none;
    }
    .crts-cs{
        width: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 999
    }
    .text-cs{
        display: none;
    }
    .clip1-cs{
        display: none;
    }
    .clip2-cs{
        display: none;
    }
    .clip3-cs{
        display: none;
    }
    .clip21-cs{
        display: none;
    }
    .clip22-cs{
        display: none;
    }
    .clip23-cs{
        display: none;
    }  
    .img-lg-cs{
        display: none;
    }
    .lgn-btn1-cs{
        display: none;
    }
    .about-cs{
        width: 100%;
        height: 100vh;
    }
    .lgn-btn-cs{
        display: none;
    }
    .lgn-btn1-cs{
        display: none;
    }
}

